body {
    margin: 0;
    font-family: system-ui, sans-serif;
}


header {
    background: url('https://i.pinimg.com/originals/f5/ba/8f/f5ba8f71d7812164d2957d5f78befb67.jpg');
    height: 600px;
    background-size: cover;
}

header h1 {
    text-align: center;
    font-size: 50px;
    color: antiquewhite;
}


.recent-event {
    display: flex;
    max-width: 85%;
    margin: 50px auto;
}


.recent-event img {
    border-radius: 23px;
    width: 45%;
}

.recent-event .col-2 {
    padding: 130px 80px;
    /* border: 2px solid black; */
    width: 40%;
    text-align: center;
    margin: auto;
}

.recent-event .col-2 h1{
    font-size: 50px;
}